<ion-header>
  <ion-toolbar>
    <ion-title>Mis pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="load()">Actualizar</ion-button>
      <ion-button fill="clear" color="danger" (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="!gpsGranted && gpsError" class="gps-banner">
    <ion-label>{{ gpsError }}</ion-label>
    <ion-button size="small" (click)="ensureGpsPermission()">Permitir GPS</ion-button>
  </ion-item>

  <div class="center-wrapper">

    <ion-card class="center-card" *ngIf="deliveries.length === 0">
      <ion-card-content>
        <ion-icon name="cube-outline"></ion-icon>

        <h2>No tienes pedidos</h2>
        <p>Cuando te asignen uno aparecerá aquí</p>

        <ion-button
          expand="block"
          fill="solid"
          class="primary-btn"
          (click)="load()"
        >
          Actualizar pedidos
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
